## Basic Python - Project <a id='intro'></a>

## Introduction <a id='intro'></a>
In this project, you will work with data from the entertainment industry. You will study a dataset with records on movies and shows. The research will focus on the "Golden Age" of television, which began in 1999 with the release of *The Sopranos* and is still ongoing.

The aim of this project is to investigate how the number of votes a title receives impacts its ratings. The assumption is that highly-rated shows (we will focus on TV shows, ignoring movies) released during the "Golden Age" of television also have the most votes.

### Stages 
Data on movies and shows is stored in the `/datasets/movies_and_shows.csv` file. There is no information about the quality of the data, so you will need to explore it before doing the analysis.

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Data analysis

You'll need `pandas`, so import it.

In [ ]:
# importing pandas
import pandas as pd

Read the `movies_and_shows.csv` file from the `datasets` folder and save it in the `df` variable:

In [ ]:
# reading the files and storing them to df
mv_and_shows = '/datasets/movies_and_shows.csv'
df = pd.read_csv('/datasets/movies_and_shows.csv')

Print the first 10 table rows:

In [ ]:
# obtaining the first 10 rows from the df table
# hint: you can use head() and tail() in Jupyter Notebook without wrapping them into print()
df.head(10)

Obtain the general information about the table with one command:

In [ ]:
# obtaining general information about the data in df
df.info()

The table contains nine columns. The majority store the same data type: object. The only exceptions are `'release Year'` (int64 type), `'imdb sc0re'` (float64 type) and `'imdb v0tes'` (float64 type). Scores and votes will be used in our analysis, so it's important to verify that they are present in the dataframe in the appropriate numeric format. Three columns (`'TITLE'`, `'imdb sc0re'` and `'imdb v0tes'`) have missing values.

According to the documentation:
- `'name'` — actor/director's name and last name
- `'Character'` — character played (for actors)
- `'r0le '` — the person's contribution to the title (it can be in the capacity of either actor or director)
- `'TITLE '` — title of the movie (show)
- `'  Type'` — show or movie
- `'release Year'` — year when movie (show) was released
- `'genres'` — list of genres under which the movie (show) falls
- `'imdb sc0re'` — score on IMDb
- `'imdb v0tes'` — votes on IMDb

We can see three issues with the column names:
1. Some names are uppercase, while others are lowercase.
2. There are names containing whitespace.
3. A few column names have digit '0' instead of letter 'o'.

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

In [ ]:
# the list of column names in the df table
column_names = df.columns
column_names

Change the column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Remove whitespace
* Replace zero with letter 'o'

In [ ]:
# renaming columns
df = df.rename(columns={'   name': 'name', 'Character': 'character', 'r0le': 'role', 'TITLE': 'title', '  Type': 'type', 'release Year': 'release_year', 'genres': 'genres', 'imdb sc0re': 'imdb_score', 'imdb v0tes': 'imdb_votes'})

Check the result. Print the names of the columns once more:

In [ ]:
# checking result: the list of column names
df.columns

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, combine two `pandas` methods:

In [ ]:
# calculating missing values
df.isna().sum()

We identified missing values in several columns. While the missing value in `'title'` isn't critical, missing values in `'imdb_score'` and `'imdb_votes'` affect around 6% of the data, which could impact our analysis. To ensure data integrity, we'll drop all rows with missing values.

In [ ]:
# dropping rows where columns with scores, and votes have missing values
df = df.dropna()
df

Make sure the table doesn't contain any more missing values. Count the missing values again.

In [ ]:
# counting missing values
df.isna().sum()

### Duplicates <a id='duplicates'></a>
Find the number of duplicate rows in the table using one command:

In [ ]:
# counting duplicate rows
duplicates = df.duplicated().sum()
duplicates

There are two clear duplicates in the printed rows. We can safely remove them.
Call the `pandas` method for getting rid of duplicate rows:

In [ ]:
# removing duplicate rows
df = df.drop_duplicates()

Check for duplicate rows once more to make sure you have removed all of them:

In [ ]:
# checking for duplicates
df

Now get rid of implicit duplicates in the `'type'` column. For example, the string `'SHOW'` can be written in different ways. These kinds of errors will also affect the result.

Print a list of unique `'type'` names, sorted in alphabetical order. To do so:
* Retrieve the intended dataframe column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [ ]:
# viewing unique type names
df['type'].unique()
unique_types = sorted(df['type'].unique())
unique_types

Look through the list to find implicit duplicates of `'show'` (`'movie'` duplicates will be ignored since the assumption is about shows). These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `'shows'`
* `'SHOW'`
* `'tv show'`
* `'tv shows'`
* `'tv series'`
* `'tv'`

To get rid of them, declare the function `replace_wrong_show()` with two parameters: 
* `wrong_shows_list=` — the list of duplicates
* `correct_show=` — the string with the correct value

The function should correct the names in the `'type'` column from the `df` table (i.e., replace each value from the `wrong_shows_list` list with the value in `correct_show`).

In [ ]:
# function for replacing implicit duplicates
def replace_wrong_show(wrong_shows_list, correct_show):
    df['type'] = df['type'].replace(wrong_shows_list, correct_show)
wrong_shows = ['shows', 'SHOW', 'tv show', 'tv shows', 'tv series', 'tv']

Call `replace_wrong_show()` and pass it arguments so that it clears implicit duplicates and replaces them with `SHOW`:

In [ ]:
# removing implicit duplicates
replace_wrong_show(wrong_shows, 'show')

Make sure the duplicate names are removed. Print the list of unique values from the `'type'` column:

In [ ]:
# viewing unique genre names
unique_types = sorted(df['type'].unique())
unique_types

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Duplicate rows and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All rows with missing values have been removed. 

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to our analysis of the prepared data.

## Stage 3. Data analysis <a id='hypotheses'></a>

Based on the previous project stages, you can now define how the assumption will be checked. Calculate the average amount of votes for each score (this data is available in the `imdb_score` and `imdb_votes` columns), and then check how these averages relate to each other. If the averages for shows with the highest scores are bigger than those for shows with lower scores, the assumption appears to be true.

Based on this, complete the following steps:

- Filter the dataframe to only include shows released in 1999 or later.
- Group scores into buckets by rounding the values of the appropriate column (a set of 1-10 integers will help us make the outcome of our calculations more evident without damaging the quality of our research).
- Identify outliers among scores based on their number of votes, and exclude scores with few votes.
- Calculate the average votes for each score and check whether the assumption matches the results.

To filter the dataframe and only include shows released in 1999 or later, you will take two steps. First, keep only titles published in 1999 or later in our dataframe. Then, filter the table to only contain shows (movies will be removed).

In [ ]:
# using conditional indexing modify df so it has only titles released after 1999 (with 1999 included)
# give the slice of dataframe new name
data_filtered = df[df['release_year'] >= 1999]
data_filtered

In [ ]:
# repeat conditional indexing so df has only shows (movies are removed as result)
df_filtered = df[df['type'] == 'show']
df_filtered

The scores that are to be grouped should be rounded. For instance, titles with scores like 7.8, 8.1, and 8.3 will all be placed in the same bucket with a score of 8.

In [ ]:
# rounding column with scores
df_shows_1999_plus = df.loc[(df['release_year'] >= 1999) & (df['type'] == 'show')].copy()
df_shows_1999_plus.loc[:, 'score_bucket'] = df_shows_1999_plus['imdb_score'].round(0).astype(int)
#checking the outcome with tail()
df_shows_1999_plus[['imdb_score', 'score_bucket']].tail()

It is now time to identify outliers based on the number of votes.

In [ ]:
# Use groupby() for scores and count all unique values in each group, print the result
score_counts = df_shows_1999_plus.groupby('score_bucket')['imdb_votes'].count()
score_counts

Based on the aggregation performed, it is evident that scores 2 (24 voted shows), 3 (27 voted shows), and 10 (only 8 voted shows) are outliers. There isn't enough data for these scores for the average number of votes to be meaningful.

In [ ]:
df_filtered = df_shows_1999_plus[~df_shows_1999_plus['score_bucket'].isin([2, 3, 10])]
print(sorted(df_filtered['score_bucket'].unique()))

To obtain the mean numbers of votes for the selected scores (we identified a range of 4-9 as acceptable), use conditional filtering and grouping.

In [ ]:
# filter dataframe using two conditions (scores to be in the range 4-9)
df_filtered = df_shows_1999_plus[(df_shows_1999_plus['score_bucket'] >= 4) & (df_shows_1999_plus['score_bucket'] <= 9)]
# group scores and corresponding average number of votes, reset index and print the result
average_votes = df_filtered.groupby('score_bucket')['imdb_votes'].mean().reset_index()
average_votes

Now for the final step! Round the column with the averages, rename both columns, and print the dataframe in descending order.

In [ ]:
# round column with averages
average_votes['imdb_votes'] = average_votes['imdb_votes'].round(0).astype(int)
# rename columns
average_votes.rename(columns={'score_bucket': 'IMDB Score', 'imdb_votes': 'Average Votes'}, inplace=True)
average_votes_sorted = average_votes.sort_values(by='IMDB Score', ascending=False)
# print dataframe in descending order
average_votes_sorted

The assumption macthes the analysis: the shows with the top 3 scores have the most amounts of votes.

## Conclusion <a id='hypotheses'></a>

The research done confirms that highly-rated shows released during the "Golden Age" of television also have the most votes. While shows with score 4 have more votes than ones with scores 5 and 6, the top three (scores 7-9) have the largest number. The data studied represents around 94% of the original set, so we can be confident in our findings.